.nested-fields.row
  .col-md-6= f.association :extra, label: false, include_blank: "Extra", input_html: {class: "form-control-sm"}
  small.col-md-1= link_to_remove_association trash_icon, f, class: "btn btn-outline-danger btn-sm fa-"
