@import colors
@import bootstrap
@import font-awesome
@import selectize-bootstrap

body
  padding-top: 70px

section
  margin-top: 40px

h1
  margin-bottom: 20px
  padding-bottom: 9px
  border-bottom: 1px solid #eee

.form-actions
  padding: 40px 0

.actions a
  margin: 0 10px 0 0
  display: inline-block


table
  @extend .table, .table-hover, .table-striped, .table-bordered
  thead
    @extend .thead-inverse

span.or
  padding: 0 10px

form
  .help-block
    color: #a94442

#navbar-admin
  form.form-inline
    a
      margin-right: 5px
