@import colors
@import bootstrap
@import bootstrap-datepicker3
@import font-awesome-sprockets
@import font-awesome
@import selectize-bootstrap
@import image-picker

@import sesiones
@import tablero
@import asistencias
@import forms

body
  padding-top: 80px
  font-family: "Ubuntu", "Helvetica Neue", "Open Sans", Arial, sans-serif
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #495057

.toast-container
  z-index: -1

.front-100
  z-index: 100!important

section
  margin-top: 40px

h1
  margin-bottom: 20px
  padding-bottom: 9px
  border-bottom: 1px solid #eee
  font-size: 1.75em
  small
    font-size: 50%
    color: $gray-600

.container-fluid
  table
    @extend .table, .table-hover, .table-bordered, .table-striped, .table-sm

    thead
      @extend .thead-dark
    tbody tr:hover
      background-color: rgba(0, 0, 0, 0.200)

    tr.table-dark, tr.table-dark:hover
      background-color: rgba(0, 0, 0, 0.600)!important

    tr
      td
        border: 1px solid #c8ced3

    tbody.table-brand
      tr
        background-color: lighten(red, 75)

      &::before
        content: ''
        display: block
        height: 2em

  a:not(.btn)
    color: #007bff
    &:hover
      text-decoration: underline

#navbar-admin
  form.form-inline
    a
      margin-right: 5px

caption
  caption-side: top

.table-dark, .table-dark > th, .table-dark > td
  background-color: #333

tr.table-dark, .table-dark > th, .table-dark > td
  &:hover, &:focus
    background-color: black!important
    td
      background-color: black!important

.table-bordered th, .container-fluid table th, .table-bordered td, .container-fluid table td
  border: 1px solid rgba(0,0,0,0.4)

@keyframes yellowfade
  from
    background: yellow

  to
    background: transparent

.item-highlight
  animation: yellowfade 1s

.item-discarded
  background: #f5c6cb!important
