.card-green
  border-color: #5cb85c

.card-green > .card-heading
  border-color: #5cb85c
  color: white
  background-color: #5cb85c

.card-green > a
  color: #5cb85c

.card-green > a:hover
  color: #3d8b3d

.card-red
  border-color: #d9534f

.card-red > .card-heading
  border-color: #d9534f
  color: white
  background-color: #d9534f

.card-red > a
  color: #d9534f

.card-red > a:hover
  color: #b52b27

.card-yellow
  border-color: #f0ad4e

.card-yellow > .card-heading
  border-color: #f0ad4e
  color: white
  background-color: #f0ad4e

.card-yellow > a
  color: #f0ad4e

.card-yellow > a:hover
  color: #df8a13

.card .slidedown .glyphicon
  margin-right: 5px

.card
  margin-bottom: 30px

.card-body
  height: 350px
  overflow-y: scroll

.card-heading
  padding: 15px

.huge
  font-size: 40px
