h1=@articulo

p#notice = notice

h2 Historia

=line_chart @articulos_por_dia

br
br

h2 Distribución

=scatter_chart Orden.where(articulo_id: 4).pluck(:cantidad, :comanda_id), xtitle: "Cantidad", ytitle: "Comanda"

= link_to 'Regresar', articulos_path, class: "btn btn-info"

br
br
